# intro to python
## Intro to Phyton
#### Intro to phyton
##### Intro to Phyton

python was fun to learn, this is an inntroduction 

## Order List 
1. point one 
2. point two 
3. point three

## unorder list
- point one 
- point two 
- point three

- a to add a cell above 
- b to add a cell below
- x to delete cell
- the cell has to be on blue to to add cells
- to start a comment in the  code cell in python, you begin with #
 # i am about to write my first python code

In [6]:
 print("Hello world, i am here learing python for data science")

Hello world, i am here learing python for data science

# variable and identifier
- A variable is any object or value that occupy space on computer memory
- An identifier is used to identifu variable

In [13]:
num1=2
print(num1)

2

## Rules for naming variable
- variable name cannot start with a number, although, number can be found any where else
- Any special character can not be included in a variable name except underscore
- name_ = "olaitan" is allowed
- variable name cannot be joined with white space(space), use underscore
- the python reserved words cannot be used as variable name
- variable name needs to be descriptive
- text needs to be coated 
- number cannot be coated
- \n means next line
- input is to take input from user and put in variable

In [14]:
first_name = "Oreagba"
Last_name = "Omotoke"
age = 12
course = " Data Analysis"
print("Hello everyone!!!. \n my name is", first_name, last_name, "I am", age, " years old", "Taking the course", course)

NameError: name 'last_name' is not defined

In [15]:
First_name = "Oreagba"
Last_name = "Omotoke"
age = 12
course = " Data Analysis"
print("Hello everyone!!!. \n my name is", First_name, Last_name, "I am", age, " years old", "Taking the course", course)

Hello everyone!!!.
 my name is Oreagba Omotoke I am 12  years old Taking the course  Data Analysis

In [16]:
First_name = "Oreagba"
Last_name = "Omotoke"
age = 12
course = " Data Analysis"
print("Hello everyone!!!. \n my name is", First_name, Last_name, " \n I am", age, " years old", "\n Taking the course", course)

Hello everyone!!!.
 my name is Oreagba Omotoke
 I am 12  years old
 Taking the course  Data Analysis

In [2]:
First_name = input ("please enter your first name")
Last_name = input ("please enter your last name")
age = input ("how old are you")
course = input ("what course are you taking")
print("Hello everyone!!!. \n my name is", First_name, Last_name, " \n I am", age, " years old", "\n Taking the course", course)

please enter your first name7
please enter your last name9
how old are you0
what course are you taking8
Hello everyone!!!.
 my name is 7 9
 I am 0  years old
 Taking the course 8

In [ ]:
First_name = input ("please enter your first name")
Last_name = input ("please enter your last name")
age = input ("how old are you")
course = input ("what course are you taking")
print("Hello everyone!!!. \n my name is", First_name, Last_name, " \n I am", age, " years old", "\n Taking the course", cou

In [5]:
# write a phyton script to take two numbers from a user and sum of the number
number1 = int (input("please enter the first number "))
number2 = int (input ("please enter the second number "))
total = number1 + number2
print ("The sum of the numbers entered is ", total)

please enter the first number 4
please enter the second number 5
The sum of the numbers entered is  9

# operators in phyton. operators are used to manipulate operand
- Arithmetic operator
- Comparison Operator
- identity operator
- membership operator
- logical operator

# Arithmetic Operator

In [8]:

## addition 
a = 12
b = 20
c = a+b
print (c)

32

In [9]:

## subtraction
a = 12
b = 20
c = a-b
print (c)

-8

In [10]:
# division
a = 12
b = 20
c = a/b
print (c)

0.6

In [13]:
# modulus (%) it returns the remainder of division
a = 10
b = 3
c = a % b
print (c)

1

# comperasion . it compares two or more variable and the out come is buliane

In [14]:

# greater than 
a = 6 
b = 20 
a > b

False

In [15]:
# greater than or equals to (>=)
a = 6 
b= 8
a >= b

False

In [17]:
# less
a = 6 
b= 8
a <= b

True

In [18]:
# less than or equals to (<=)
a = 6 
b= 8
a <= b

True

In [19]:
# equal to  (==)
a = 10
b = 8
a == b

False

In [ ]:
a = b # assigning

# Assignment Operator

In [20]:
# equals 
a = 4
print (a)

4

In [21]:
# increament
toke = 2
print ("value of toke before increament", toke)
toke += 4
print ("value of toke after increament", toke)

value of toke before increament 2
value of toke after increament 6

In [22]:
# decreament
toke = 10
print ("value of toke before increament", toke)
toke -= 4
print ("value of toke after increament", toke)

value of toke before increament 10
value of toke after increament 6

# MEMBERSHIP Operator
## it returns a bulian result

In [ ]:
in / not in,
4 in [1,2,3,45,67]

In [24]:
4 in [1,2,3,45,67]

False

In [25]:
7 not in [1,2,3,4,5,7,89,56]

False

In [ ]:
#identity
is/  is not

In [26]:
4 is 4

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Sober\AppData\Local\Temp\ipykernel_8884\672288743.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  4 is 4

True

In [27]:
a = 4
b = 4
a is b

True

In [34]:
a = "Ola"
b = "ola"
a is b

False

In [35]:
# Logical
# and / or 
(12 > 4) and (8< 12)

True

In [36]:
(12> 4) or (8<4)

True

 # Datatype in Python
 
 - mutable datatype: datatype that can be modified after declaration
 - list 
 - dictionary
 - set
 
 
 - 
 - immutable datatype: datatype cannot be modified after declaration
 - number
 - str
 - tuple

In [ ]:
# number
int  = whole number  ( it cannot be modified but yu can over ride it)
float = number with decimals
complex = 3 + 3J

In [ ]:
 # str : are sequence of characters
    name =  'ola'
    name = "ola"
    name = """ this is used when the string is
    very long in a way that it
    moves to the next line"""