# intro to python
## Intro to Phyton
#### Intro to phyton
##### Intro to Phyton

python was fun to learn, this is an inntroduction 

## Order List 
1. point one 
2. point two 
3. point three

## unorder list
- point one 
- point two 
- point three

- a to add a cell above 
- b to add a cell below
- x to delete cell
- the cell has to be on blue to to add cells
- to start a comment in the  code cell in python, you begin with # and must be on markdown
 # i am about to write my first python code

In [6]:
 print("Hello world, i am here learing python for data science")

Hello world, i am here learing python for data science

# variable and identifier
- A variable is any object or value that occupy space on computer memory
- An identifier is used to identifu variable

In [13]:
num1=2
print(num1)

2

## Rules for naming variable
- variable name cannot start with a number, although, number can be found any where else
- Any special character can not be included in a variable name except underscore
- name_ = "olaitan" is allowed
- variable name cannot be joined with white space(space), use underscore
- the python reserved words cannot be used as variable name
- variable name needs to be descriptive
- text needs to be coated 
- number cannot be coated
- \n means next line
- input is to take input from user and put in variable

In [14]:
first_name = "Oreagba"
Last_name = "Omotoke"
age = 12
course = " Data Analysis"
print("Hello everyone!!!. \n my name is", first_name, last_name, "I am", age, " years old", "Taking the course", course)

NameError: name 'last_name' is not defined

In [15]:
First_name = "Oreagba"
Last_name = "Omotoke"
age = 12
course = " Data Analysis"
print("Hello everyone!!!. \n my name is", First_name, Last_name, "I am", age, " years old", "Taking the course", course)

Hello everyone!!!.
 my name is Oreagba Omotoke I am 12  years old Taking the course  Data Analysis

In [16]:
First_name = "Oreagba"
Last_name = "Omotoke"
age = 12
course = " Data Analysis"
print("Hello everyone!!!. \n my name is", First_name, Last_name, " \n I am", age, " years old", "\n Taking the course", course)

Hello everyone!!!.
 my name is Oreagba Omotoke
 I am 12  years old
 Taking the course  Data Analysis

In [1]:
First_name = input ("please enter your first name ")
Last_name = input ("please enter your last name ")
age = input ("how old are you  ")
course = input ("what course are you taking ")
print("Hello everyone!!!. \n my name is", First_name, Last_name, " \n I am", age, " years old", "\n Taking the course", course)

please enter your first name toke
please enter your last name kehinde
how old are you  6
what course are you taking msc
Hello everyone!!!.
 my name is toke kehinde
 I am 6  years old
 Taking the course msc

In [ ]:
First_name = input ("please enter your first name")
Last_name = input ("please enter your last name")
age = input ("how old are you")
course = input ("what course are you taking")
print("Hello everyone!!!. \n my name is", First_name, Last_name, " \n I am", age, " years old", "\n Taking the course", cou

In [5]:
# write a phyton script to take two numbers from a user and sum of the number
number1 = int (input("please enter the first number "))
number2 = int (input ("please enter the second number "))
total = number1 + number2
print ("The sum of the numbers entered is ", total)

please enter the first number 4
please enter the second number 5
The sum of the numbers entered is  9

# operators in phyton. operators are used to manipulate operand
- Arithmetic operator
- Comparison Operator
- identity operator
- membership operator
- logical operator

# Arithmetic Operator

In [8]:

## addition 
a = 12
b = 20
c = a+b
print (c)

32

In [9]:

## subtraction
a = 12
b = 20
c = a-b
print (c)

-8

In [10]:
# division
a = 12
b = 20
c = a/b
print (c)

0.6

In [13]:
# modulus (%) it returns the remainder of division
a = 10
b = 3
c = a % b
print (c)

1

# comperasion . it compares two or more variable and the out come is boolean

In [1]:

# greater than 
a = 6 
b = 20 
a > b

False

In [15]:
# greater than or equals to (>=)
a = 6 
b= 8
a >= b

False

In [17]:
# less
a = 6 
b= 8
a <= b

True

In [18]:
# less than or equals to (<=)
a = 6 
b= 8
a <= b

True

In [19]:
# equal to  (==)
a = 10
b = 8
a == b

False

In [2]:
a = b # assigning 
a

20

# Assignment Operator

In [20]:
# equals 
a = 4
print (a)

4

In [21]:
# increament
toke = 2
print ("value of toke before increament", toke)
toke += 4
print ("value of toke after increament", toke)

value of toke before increament 2
value of toke after increament 6

In [3]:
# decreament
toke = 10
print ("value of toke before decreament", toke)
toke -= 4
print ("value of toke after decreament", toke)

value of toke before decreament 10
value of toke after decreament 6

# MEMBERSHIP Operator
## it returns a boolean result

In [ ]:
in / not in,
4 in [1,2,3,45,67]

In [24]:
4 in [1,2,3,45,67]

False

In [25]:
7 not in [1,2,3,4,5,7,89,56]

False

In [4]:
7 in [1,3,5,6,7,8,9]

True

In [ ]:
#identity
is/  is not

In [26]:
4 is 4

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Sober\AppData\Local\Temp\ipykernel_8884\672288743.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  4 is 4

True

In [27]:
a = 4
b = 4
a is b

True

In [34]:
a = "Ola"
b = "ola"
a is b

False

# Logical

### and / or 
(12 > 4) and (8< 12)

In [36]:
(12> 4) or (8<4)

True

In [6]:
(8>3) and (5>9)

False

 # Datatype in Python
 
 - mutable datatype: datatype that can be modified after declaration
 - list 
 - dictionary
 - set
 
 
 - 
 - immutable datatype: datatype cannot be modified after declaration
 - number
 - str
 - tuple

# number (immutable)

## int  = whole number  ( it cannot be modified but you can over ride it)
## float = number with decimals
## complex = 3 + 3J

In [ ]:
 # str : are sequence of characters
    name =  'ola'
    name = "ola"
    name = """ this is used when the string is
    very long in a way that it
    moves to the next line"""

# indexing and slicing

## indexing
forward indexing starts counting from the front first letter from 0
backward indexing starts counting from the back from -1

In [9]:
name = "olaitan"
name [3] forward indexing

'i'

In [10]:
name = "omotoke"
name [4]
name [-4]

't'

In [40]:
name = "olaitan"
name[-6] backward indexing

'l'

# slicing
- index no: position no: skip no

- index no counts from 0 
- position number counts from 1

In [41]:
name = "olaitana"
"return ai from olaitan"
name[2: 4]

'ai'

In [12]:
name = "olabisi"
name[3: 5] 
name [3:7]

'bisi'

In [42]:
info ="python is fun to learn"
#return fun from the variable
info[10:13]

'fun'

In [43]:
name[0: 7:3]

'oin'

In [51]:
info ="python is fun to learn"
#return if  a

info[7:20:3]

'if  a'

In [13]:
info = "python is fun to learn"
info [5:16:3]

'nsut'

# string method

### string is a sequence of character
1. split 
2. strip
3. endwith
4. startwith
5. upper/lower
6. find
7. replace
8. format

In [56]:
 info

'python is fun to learn'

### split is use to split string at any given space or specified character. the output is list

info.split()

replace = "omotoke is a goood girl"
replace. split()

### split is use to split string at any given space or specified character. the output is list

gist = "my/name/is/titi/i/am/taking/phyton/class"
gist.split("/")

# strip is used ro remove excesive space before and after the text


name = "     olatian   "
name.strip()

In [66]:
name = "{{{{///olaitan>>>>>>////"
name.strip("{").strip("/").strip(">")

'olaitan'

# endswith
## it gives a boolen result

In [1]:
name = "Olaitan"

name.endswith("n")

True

In [2]:
name = "Bolatito"
name.endswith("z")

False

# Startswith

In [4]:
name= "olaitan"
name.startswith("o")

True

# Upper

In [5]:
name.upper()

'OLAITAN'

In [7]:
name=name.upper()
name

'OLAITAN'

# Lower

In [8]:
name=name.lower()
name

'olaitan'

# find

## this will find the position of the specific character and return the index number of specified character

In [9]:
name.find("i")

3

# replace

In [10]:
name = "olaitan"
name= name.replace ("i", "y")
print(name)

olaytan

In [11]:
name = "oreagba"
name = name.replace ("g", "h")
print(name)

oreahba

# format

In [98]:
name = input("enter your name")
age = input("enter your age")
print("my name is {} and i am {} years old". format(name,age))

enter your namearewa
enter your age40
my name is arewa and i am 40 years old

# LIST

- IT IS A CONTAINER THAT CAN BE USED TO SAVE DATA
- LIST IS USED WITH SQUARE BRAKET [    ] EMPTY LIST
- LIST CAN HAVE DIFFERENT DATA TYPE

In [14]:
LIST1 = ["cow", 2, 6.6, [23,5], "james", "sancho", "rice", "white"]
LIST1[5]

'sancho'

In [15]:
LIST1 [3][1]

5

In [16]:
LIST1 [2:6]

[6.6, [23, 5], 'james', 'sancho']

In [ ]:
1. append : is used to add element at the end of a list
2. pop : is used to remove element at specific index
3. remove : is used to delete element specified
4.sort : is used to sort element of a list
    false (ascending)
    true (descending)

In [17]:
liss = [1,"kola","ade"]
liss.append("elephant")
print(liss)

[1, 'kola', 'ade', 'elephant']

In [18]:
liss.pop()

'elephant'

In [19]:
name=liss.pop()
print(liss)
print(name)

[1, 'kola']
ade

In [20]:
liss.pop(1)

'kola'

In [21]:
liss = [7,"kola","ade"]
liss.remove(7)
print (liss)

['kola', 'ade']

In [27]:
liss = [2,7,8.3,10,4,7,8,63]
liss.sort()
print (liss)

[2, 4, 7, 7, 8, 8.3, 10, 63]

In [65]:
liss.sort(reverse=False)
print (liss)

[2, 4, 7, 7, 8, 8.3, 10, 63]

# modify the element of a list

In [29]:
LIST1 = ["cow", 2, 6.6, [23,5], "james", "sancho", "rice", "white"]
# change sancho to rashford

LIST1[5] = "RASHFORD"
print (LIST1)

['cow', 2, 6.6, [23, 5], 'james', 'RASHFORD', 'rice', 'white']

# tup
tup = (    ) # an empty turple

In [37]:
tup.count(2)

1

In [1]:
tup = (2,"kazeem", "olaitan","james", "ade",[2,3,6,7],2,2,26,42)
tup[5][1]

3

In [2]:
tup.count(2)

3

# set : it removes duplicates entry and sort the data in ascending order
# dictionary: a type of data that has key and valuse pair relatiinship

# for indexing and slicing, list [ ] bracket 
tup ()
set and dic {}

In [44]:
 set1 = {100,300,7,2,9,0,5,3,2,2,2,}
 set1

{0, 2, 3, 5, 7, 9, 100, 300}

# dictionary

In [56]:
info = {"name": "Olaitan", "age": "40", "address":"Olowora"}
info["name"]

'Olaitan'

## to change element

In [47]:
info ["age"] = 45
print(info)

{'name': 'Olaitan', 'age': 45, 'address': 'Olowora', '40': 45}

## to add element

In [48]:
### adding new element to dictionary
info = {"name": "Olaitan", "age": "40", "address":"Olowora"}
info["salary"] = 123434
print(info)

{'name': 'Olaitan', 'age': '40', 'address': 'Olowora', 'salary': 123434}

### to remove an element
print(info)
info.pop("address")
print(info)

In [3]:
info = {"name": "Olaitan", "age": "40", "address":"Olowora"}
info.pop("age")
print(info)

{'name': 'Olaitan', 'address': 'Olowora'}

In [6]:
info
info["station"] = "MTR"
print (info)

{'name': 'Olaitan', 'address': 'Olowora', 'station': 'MTR'}

# dictionary of list

In [64]:
info = {"name": ["Olaitan","james","sancho"], "age": ["40","30","20","32"], "address":["Olowora", "berger","magodo","isheri"]}

print (info)
info["address"][1] = "Arepo"
print(info)

{'name': ['Olaitan', 'james', 'sancho'], 'age': ['40', '30', '20', '32'], 'address': ['Olowora', 'berger', 'magodo', 'isheri']}
{'name': ['Olaitan', 'james', 'sancho'], 'age': ['40', '30', '20', '32'], 'address': ['Olowora', 'Arepo', 'magodo', 'isheri']}

# control flow in pyhton
### control flow is where pyhton is been executed

## conditional statement
a. if
b. elif
c. else

## Loop statment
a. for loop
b. while loop

## Loop control statemnet
a. continue
b. break 

# Error handling statement 
a. try 
b. except
c. finally

### if

In [66]:
name = "olaitan"

if name.endswith("n"):
    print("we are cool at this point")
    w=5
    t =3
    print(w+t)

we are cool at this point
8

In [67]:

name = "olaitan"
if name.endswith("z"):
    print("we are cool at this point")
    w=5
    t =3
    print(w+t)
else:
    print("i am running because your condition is false")

i am running because your condition is false

### Elif

In [69]:
num1 = int(input())
num2 = int(input())
if(num1>10) and (num2<20):
    total=num1 + num2
    print(total)
elif(num1==10) and (num2==20):
    print("fine")
    print(num1+num2)
elif(num1<10) and (num2>20):
    print(num2 - num1)
else:
    print("what other combination did you think of")

20
20
what other combination did you think of

In [70]:
num1 = int(input())
num2 = int(input())
if(num1>=10) and (num2<=20):
    total=num1 + num2
    print(total)
elif(num1==10) and (num2==20):
    print("fine")
    print(num1+num2)
elif(num1<10) and (num2>20):
    print(num2 - num1)
else:
    print("what other combination did you think of")

10
20
30

In [71]:
num1 = int(input())
num2 = int(input())
if(num1>10) and (num2<20):
    total=num1 + num2
    print(total)
if(num1==10) and (num2==20):
    print("fine")
    print(num1+num2)
if(num1<10) and (num2>20):
    print(num2 - num1)
else:
    print("what other combination did you think of")

10
20
fine
30
what other combination did you think of

# loop Statement
### for loop : its used to iterate over an iterable element e.g str, list, turple, set, dictionary

In [77]:
list1 = ["ola", "james","ayo"]
for y in list1:
    print (y)

ola
james
ayo

In [80]:
list2 = "olaitan"
for x in list2:
     print(x)

o
l
a
i
t
a
n

range (str, end, skip)

In [81]:
range(10)

range(0, 10)

In [82]:
range(0,10,2)

range(0, 10, 2)

In [85]:
for i in range(0,10,2):
      print(i)

0
2
4
6
8

In [86]:
for i in range(0,10,3):
      print(i)

0
3
6
9

In [89]:
for i in range(0,21):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [100]:
even = []
odd = []
print("the element in even list before updating", even,"/n")
print("the element in odd list before updating", odd, "/n")
for i in range(0, 21):
     if i%2==0:
        even.append(i)
     else:
        odd.append(i)       
print("the element in even list after updating", even,"/n")
print("the element in odd list after updating", odd, "/n")

the element in even list before updating [] /n
the element in odd list before updating [] /n
the element in even list after updating [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20] /n
the element in odd list after updating [1, 3, 5, 7, 9, 11, 13, 15, 17, 19] /n

### while loop

In [99]:
counter = 0
while counter <=5: # as far as counter is less than or equal to 5, it will continue with while
    print ("we are inside while loop{}". format(counter))
    counter +=1

we are inside while loop0
we are inside while loop1
we are inside while loop2
we are inside while loop3
we are inside while loop4
we are inside while loop5

In [1]:
a = 0
while a< 5:
    print("we are inside while loop {}". format(a))
    a+=1

we are inside while loop 0
we are inside while loop 1
we are inside while loop 2
we are inside while loop 3
we are inside while loop 4

In [3]:
while True:
    user_input = input(). lower()
    if user_input == "quit":
        break
    print("the user name is ", user_input)

titi
the user name is  titi
kemi
the user name is  kemi
QUit

## break
## it will stop when the condition is met

In [9]:
even = []
odd = []
num = range(1,21)
for i in num: 
    if i ==12:
     break
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)
print (even)
print (odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9, 11]

In [10]:
even = []
odd = []
num = range(1,21)
for i in num: 
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)
print (even)
print (odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# continue it will skip at the point where the condition is met and go ahead with the rest elements.

In [11]:
even = []
odd = []
num = range(1,21)
for i in num: 
    if i ==12:
     continue
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)
print (even)
print (odd)

[2, 4, 6, 8, 10, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [14]:
user = (input().split()) 
print(user)
total = int (user[0]) + int (user [4])
print (total)

2 4 5 6 7 4 5 7 8
['2', '4', '5', '6', '7', '4', '5', '7', '8']
9

In [15]:
num =  [3, 5, 7, 9, 11, 13, 15, 17, 19]
num [0] + num [3]

12

In [26]:
user = (input().split()) 
print(user)
total = int (user[0]) + int (user [4])
 
if total>20:
     print (" i don't want manchester city to win the league")
else:
     print("Arsenal will win, because i like them")

2 4 5 6 4 5 6 7
['2', '4', '5', '6', '4', '5', '6', '7']
Arsenal will win, because i like them

# Error handling statement
### try
will inspect the code for error, if there is no error every thing in the executed. if there is error, it will be handled by except

## except: 
if there is error in the try ...... except will run the code

In [47]:
try:
  user = (input().split()) 
 print (user)
  total=int(user[0]) + int (user[4])
if total>20:
     print ("i don't want manchester city to win the league")
else:
     print("Arsenal will win, because i like them")
        
except:
    
        total = int(user[0]) + int(user[-1])
        print("the length of the list is not up to 5, so the sum at the end is", total)
        
finally:
    print("finally will always be executed weather there is error or not")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [70]:
try: 
    user = (input(). split())
    print (user)
    total = int(user[0]) + (user[4])
    if total>20:
        print("i dont want manchester city to win the league")
    else:
        print("Arsenal will win, because i like them")
except:
    total = int(user[0]) + int(user[-1])
    print("the length of the list is not up to 5, so the sum at the end is", total)
    
finally: 
    print("finally will always be executed weather there is error or not")

the length of the list is not up to 5, so the sum at the end is 9
finally will always be executed weather there is error or not

# function in phyton

## functions are group of statements put together under a specific name to perform a specific task

a. inbuilt function it comes along with phyton software
- 
b. user defined function. are functions defined by the programmers. this is used to avoid #dry

# dry is an application for "do not repeat yourself"

In [73]:
## defining a function. non parametal function

def greeting(   ):
    print("hello everyone, you are welcome to lasop!!!")
    
greeting()

hello everyone, you are welcome to lasop!!!

In [74]:
## calling function that has been defined

greeting()

hello everyone, you are welcome to lasop!!!

In [75]:
def add_two_num(w, i):
    total= w+ i
    return total

In [76]:
add_two_num(2345,6789)

9134

In [78]:
def min_to_sec(x,m):
    total = x-m
    return total

In [80]:
min_to_sec(120,60)

60

In [81]:
#function that will convert minuite to second
def min_to_sec(minute):
    sec=60* minute
    return sec

In [89]:
def area_triangle(h,b):
    area= (h*b)*0.5
    return area

In [91]:
area_triangle(20,2)

20.0

In [92]:
area_triangle(4,6)

12.0