# intro to python
## Intro to Phyton
#### Intro to phyton
##### Intro to Phyton

python was fun to learn, this is an inntroduction 

## Order List 
1. point one 
2. point two 
3. point three

## unorder list
- point one 
- point two 
- point three

- a to add a cell above 
- b to add a cell below
- x to delete cell
- the cell has to be on blue to to add cells
- to start a comment in the  code cell in python, you begin with # and must be on markdown
 # i am about to write my first python code

In [6]:
 print("Hello world, i am here learing python for data science")

Hello world, i am here learing python for data science

# variable and identifier
- A variable is any object or value that occupy space on computer memory
- An identifier is used to identifu variable

In [13]:
num1=2
print(num1)

2

## Rules for naming variable
- variable name cannot start with a number, although, number can be found any where else
- Any special character can not be included in a variable name except underscore
- name_ = "olaitan" is allowed
- variable name cannot be joined with white space(space), use underscore
- the python reserved words cannot be used as variable name
- variable name needs to be descriptive
- text needs to be coated 
- number cannot be coated
- \n means next line
- input is to take input from user and put in variable

In [14]:
first_name = "Oreagba"
Last_name = "Omotoke"
age = 12
course = " Data Analysis"
print("Hello everyone!!!. \n my name is", first_name, last_name, "I am", age, " years old", "Taking the course", course)

NameError: name 'last_name' is not defined

In [15]:
First_name = "Oreagba"
Last_name = "Omotoke"
age = 12
course = " Data Analysis"
print("Hello everyone!!!. \n my name is", First_name, Last_name, "I am", age, " years old", "Taking the course", course)

Hello everyone!!!.
 my name is Oreagba Omotoke I am 12  years old Taking the course  Data Analysis

In [16]:
First_name = "Oreagba"
Last_name = "Omotoke"
age = 12
course = " Data Analysis"
print("Hello everyone!!!. \n my name is", First_name, Last_name, " \n I am", age, " years old", "\n Taking the course", course)

Hello everyone!!!.
 my name is Oreagba Omotoke
 I am 12  years old
 Taking the course  Data Analysis

In [2]:
First_name = input ("please enter your first name")
Last_name = input ("please enter your last name")
age = input ("how old are you")
course = input ("what course are you taking")
print("Hello everyone!!!. \n my name is", First_name, Last_name, " \n I am", age, " years old", "\n Taking the course", course)

please enter your first name7
please enter your last name9
how old are you0
what course are you taking8
Hello everyone!!!.
 my name is 7 9
 I am 0  years old
 Taking the course 8

In [ ]:
First_name = input ("please enter your first name")
Last_name = input ("please enter your last name")
age = input ("how old are you")
course = input ("what course are you taking")
print("Hello everyone!!!. \n my name is", First_name, Last_name, " \n I am", age, " years old", "\n Taking the course", cou

In [5]:
# write a phyton script to take two numbers from a user and sum of the number
number1 = int (input("please enter the first number "))
number2 = int (input ("please enter the second number "))
total = number1 + number2
print ("The sum of the numbers entered is ", total)

please enter the first number 4
please enter the second number 5
The sum of the numbers entered is  9

# operators in phyton. operators are used to manipulate operand
- Arithmetic operator
- Comparison Operator
- identity operator
- membership operator
- logical operator

# Arithmetic Operator

In [8]:

## addition 
a = 12
b = 20
c = a+b
print (c)

32

In [9]:

## subtraction
a = 12
b = 20
c = a-b
print (c)

-8

In [10]:
# division
a = 12
b = 20
c = a/b
print (c)

0.6

In [13]:
# modulus (%) it returns the remainder of division
a = 10
b = 3
c = a % b
print (c)

1

# comperasion . it compares two or more variable and the out come is boolean

In [1]:

# greater than 
a = 6 
b = 20 
a > b

False

In [15]:
# greater than or equals to (>=)
a = 6 
b= 8
a >= b

False

In [17]:
# less
a = 6 
b= 8
a <= b

True

In [18]:
# less than or equals to (<=)
a = 6 
b= 8
a <= b

True

In [19]:
# equal to  (==)
a = 10
b = 8
a == b

False

In [2]:
a = b # assigning 
a

20

# Assignment Operator

In [20]:
# equals 
a = 4
print (a)

4

In [21]:
# increament
toke = 2
print ("value of toke before increament", toke)
toke += 4
print ("value of toke after increament", toke)

value of toke before increament 2
value of toke after increament 6

In [3]:
# decreament
toke = 10
print ("value of toke before decreament", toke)
toke -= 4
print ("value of toke after decreament", toke)

value of toke before decreament 10
value of toke after decreament 6

# MEMBERSHIP Operator
## it returns a boolean result

In [ ]:
in / not in,
4 in [1,2,3,45,67]

In [24]:
4 in [1,2,3,45,67]

False

In [25]:
7 not in [1,2,3,4,5,7,89,56]

False

In [4]:
7 in [1,3,5,6,7,8,9]

True

In [ ]:
#identity
is/  is not

In [26]:
4 is 4

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Sober\AppData\Local\Temp\ipykernel_8884\672288743.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  4 is 4

True

In [27]:
a = 4
b = 4
a is b

True

In [34]:
a = "Ola"
b = "ola"
a is b

False

In [35]:
# Logical
# and / or 
(12 > 4) and (8< 12)

True

In [36]:
(12> 4) or (8<4)

True

In [6]:
(8>3) and (5>9)

False

 # Datatype in Python
 
 - mutable datatype: datatype that can be modified after declaration
 - list 
 - dictionary
 - set
 
 
 - 
 - immutable datatype: datatype cannot be modified after declaration
 - number
 - str
 - tuple

In [ ]:
# number
int  = whole number  ( it cannot be modified but yu can over ride it)
float = number with decimals
complex = 3 + 3J

In [ ]:
 # str : are sequence of characters
    name =  'ola'
    name = "ola"
    name = """ this is used when the string is
    very long in a way that it
    moves to the next line"""

# indexing and slicing

## indexing
forward indexing starts counting from the front first letter from 0
backward indexing starts counting from the back from -1

In [9]:
name = "olaitan"
name [3] forward indexing

'i'

In [10]:
name = "omotoke"
name [4]
name [-4]

't'

In [40]:
name = "olaitan"
name[-6] backward indexing

'l'

# slicing
- index no: position no: skip no

- index no counts from 0 
- position number counts from 1

In [41]:
name = "olaitana"
"return ai from olaitan"
name[2: 4]

'ai'

In [12]:
name = "olabisi"
name[3: 5] 
name [3:7]

'bisi'

In [42]:
info ="python is fun to learn"
#return fun from the variable
info[10:13]

'fun'

In [43]:
name[0: 7:3]

'oin'

In [44]:
- skip position
info ="python is fun to learn"

info[6:13:2]

SyntaxError: invalid syntax (1769612956.py, line 1)

In [51]:
info ="python is fun to learn"
#return if  a

info[7:20:3]

'if  a'

In [13]:
info = "python is fun to learn"
info [5:16:3]

'nsut'

# string method
1. split 
2. strip
3. endwith
4. startwith
5. upper/lower
6. find
7. replace

In [56]:
 info

'python is fun to learn'

In [60]:
# split is use to split string at any given space or specified character. the output is list
info.split()

replace = "omotoke is a goood girl"
replace. split()

['omotoke', 'is', 'a', 'goood', 'girl']

In [61]:
# split is use to split string at any given space or specified character. the output is list
gist = "my/name/is/titi/i/am/taking/phyton/class"
gist.split("/")

['my', 'name', 'is', 'titi', 'i', 'am', 'taking', 'phyton', 'class']

SyntaxError: invalid syntax (1654808701.py, line 3)

In [64]:
#strip is used ro remove excesive space before and after the text


name = "     olatian   "
name.strip()

'olatian'

In [66]:
name = "{{{{///olaitan>>>>>>////"
name.strip("{").strip("/").strip(">")

'olaitan'

In [ ]:
# endswith
## it gives a boolen result

In [1]:
name = "Olaitan"

name.endswith("n")

True

In [2]:
name = "Bolatito"
name.endswith("z")

False

# Startswith

In [4]:
name= "olaitan"
name.startswith("o")

True

# Upper

In [5]:
name.upper()

'OLAITAN'

In [7]:
name=name.upper()
name

'OLAITAN'

# Lower

In [8]:
name=name.lower()
name

'olaitan'

# find

## this will find the position of the specific character and return the index number of specified character

In [9]:
name.find("i")

3

# replace

In [10]:
name = "olaitan"
name= name.replace ("i", "y")
print(name)

olaytan

In [11]:
name = "oreagba"
name = name.replace ("g", "h")
print(name)

oreahba

# LIST

- IT IS A CONTAINER THAT CAN BE USED TO SAVE DATA
- LIST IS USED WITH SQUARE BRAKET [    ] EMPTY LIST
- LIST CAN HAVE DIFFERENT DATA TYPE

In [14]:
LIST1 = ["cow", 2, 6.6, [23,5], "james", "sancho", "rice", "white"]
LIST1[5]

'sancho'

In [15]:
LIST1 [3][1]

5

In [16]:
LIST1 [2:6]

[6.6, [23, 5], 'james', 'sancho']

In [ ]:
1. append : is used to add element at the end of a list
2. pop : is used to remove element at specific index
3. remove : is used to delete element specified
4.sort : is used to sort element of a list
    false (ascending)
    true (descending)

In [17]:
liss = [1,"kola","ade"]
liss.append("elephant")
print(liss)

[1, 'kola', 'ade', 'elephant']

In [18]:
liss.pop()

'elephant'

In [19]:
name=liss.pop()
print(liss)
print(name)

[1, 'kola']
ade

In [20]:
liss.pop(1)

'kola'

In [21]:
liss = [7,"kola","ade"]
liss.remove(7)
print (liss)

['kola', 'ade']

In [27]:
liss = [2,7,8.3,10,4,7,8,63]
liss.sort()
print (liss)

[2, 4, 7, 7, 8, 8.3, 10, 63]

In [34]:
liss.sort(reverse.False)
print (liss)

SyntaxError: invalid syntax (3902389822.py, line 1)

# modify the element of a list

In [29]:
LIST1 = ["cow", 2, 6.6, [23,5], "james", "sancho", "rice", "white"]
# change sancho to rashford

LIST1[5] = "RASHFORD"
print (LIST1)

['cow', 2, 6.6, [23, 5], 'james', 'RASHFORD', 'rice', 'white']

# tup
tup = (    ) # an empty turple

In [39]:
tup = (2,"kazeem", "olaitan","james", "ade",[2,3,6,7]2,2,26,42)
tup[5]

SyntaxError: invalid syntax (975752148.py, line 1)

In [37]:
tup.count(2)

1

In [40]:
tup = (2,"kazeem", "olaitan","james", "ade",[2,3,6,7],2,2,26,42)
tup[5][1]

3

In [43]:
tup.count(2)

3

In [ ]:
# set : it removes duplicates entry and sort the data in ascending order
# dictionary: a type of data that has key and valuse pair relatiinship

In [ ]:
 set1 = {100,300,7,2,9,0,5,3,2,2,2,}