In [ ]:
# panda

In [ ]:
# NEED FOR PANDAS

In [ ]:
# INSTALLATION OF PANDAS

In [ ]:
# IMPORTATION OF PANDAS

In [ ]:
# what is series and how to create

In [ ]:
# creating dataframe from a list

In [ ]:
# creating dataframe from list with customized index

In [ ]:
# creating dataframe  from dictinary

In [ ]:
# creating dataframe  from dictinary of list

In [ ]:
# how to export dataframe as excel and csv file

In [ ]:
# how to import excel or csv file into dataframe

In [ ]:
# how to check the first five row of dataframe

In [ ]:
# how to check the  last five row of dataframe

In [ ]:
# how to randomly check rows of dataframe

In [ ]:
# how to check the summary information of the dataframe

In [ ]:
# shape is used to return the dimension of the dataframe

In [ ]:
# column is used to to return all the columns name of the dataframe

In [ ]:
# check the statistical summary of the datafram

In [ ]:
# df[col] to return a single column in form of series

In [ ]:
# df[[col, col...col]] to return number of specify columns in form of dataframe

In [ ]:
# df.iloc[row, column] return row and column of the dataframe using its positon

# Print element in index one, seven, ten and column two and four from above dataframe

In [ ]:
# select all the rows and first two columns of the dataframe using thier position

In [ ]:
# df.loc[:, label] return the rows and columns of the dataframe using their label name

In [ ]:
# using query on dataframe

In [ ]:
# how to join two dataframe

In [ ]:
# how to delete rows in dataframe

In [ ]:
# how to delete columns in dataframe

In [ ]:
# how to add columns to dataframe

In [ ]:
# rename can be used to change name of columns or index

In [ ]:
# checking for missing values in dataframe

In [ ]:
# treating missing values in dataframe

In [ ]:
# checking for duplicates record on the dataframe

In [ ]:
# treating duplicate records on the dataframe

In [ ]:
# changing the datatype of the column on the dataframe

In [ ]:
# groupby on the dataframe